@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro|Fira+Sans);

:root {
  --sidebar-width: 200px;
  --toggle-width: 60px;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
}

.docs {
  font-family: "Source Serif Pro", Georgia, Times, "Times New Roman", serif;
  left: 0;
  margin-left: 50px;
  margin-top: 20px;
  position: relative;
}

.sidebar {
  background-color: #F1F1F1;
  box-sizing: border-box;
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  left: 0;
  min-width: var(--sidebar-width);
  padding: 20px 10px 0;
  position: relative;
  width: var(--sidebar-width);
}

.sidebar-toggling .docs,
.sidebar-toggling .sidebar,
.sidebar-toggling .sidebar-toggle {
  transition: transform 0.5s;
}

.sidebar-toggle {
  background: none;
  border: 1px;
  border-color: gray;
  cursor: pointer;
  left: 170px;
  outline: none;
  padding: 0;
  position: fixed;
  top: 6px;
  width: 20px;
  z-index: 99;
}

.sidebar-toggle span {
  background-color: black;
  border-radius: 1px;
  display: block;
  height: 2px;
  margin: 4px 0;
}

.sidebar-hidden .docs {
  transform: translateX(calc(-1 * var(--sidebar-width)));
}

.sidebar-hidden .sidebar {
  transform: translateX(-100%);
}

.sidebar-hidden .sidebar-toggle {
  transform: translateX(-160px);
}
